1. Set the variable test1 to the string "This is a test of the emergency text system,"and save test1 to a file named test.txt.

In [9]:
test1="This is a test of the emergency text system"
fout = open('test','wt')
fout.write(test1)
fout.close()
len(test1)

43

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [22]:
fin= open('test', 'rt' )
test2 = fin.read()
fin.close()
len(test2)
test2
## There is no difference between test1 and test2

'This is a test of the emergency text system'

In [21]:
with open ("C:\\Users\\jai balaji\\ineuron\\test", "r") as myfile:
    test2=myfile.readlines()
test2

['This is a test of the emergency text system']

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [51]:
import csv
with open('C:\\Users\\jai balaji\\ineuron\\books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["title", "author", "year"])
    writer.writerow(["The Weirdstone of Brisingamen","Alan Garner",1960])
    writer.writerow(["Perdido Street Station","China Miéville",2000])
    writer.writerow(["Thud!","Terry Pratchett",2005])
    writer.writerow(["The Spellman Files","Lisa Lutz",2007])
    writer.writerow(["Small Gods:","Terry Pratchett",1992])

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [57]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS books")
sql ='''CREATE TABLE books(
   title text(20) NOT NULL,
   author text(20),
   year int
)'''
cursor.execute(sql)
print("Table created successfully.")
conn.commit()

Table created successfully.

5. Read books.csv and insert its data into the book table.

In [58]:
import pandas as pd
book=pd.read_csv('books.csv',encoding='latin-1')

In [63]:
book.to_sql('books', conn, if_exists='append', index = False)
cursor.execute('''SELECT * FROM books''').fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods:', 'Terry Pratchett', 1992),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods:', 'Terry Pratchett', 1992),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods:', 'Terry Pratchett', 1992),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods:', 'Terry Pratchett', 1992),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods:', 'Terry Pratchett', 1992)]

6. Select and print the title column from the book table in alphabetical order.

In [65]:
cursor.execute('''SELECT title FROM books order by title asc''').fetchall()

[('Perdido Street Station',),
 ('Perdido Street Station',),
 ('Perdido Street Station',),
 ('Perdido Street Station',),
 ('Perdido Street Station',),
 ('Small Gods:',),
 ('Small Gods:',),
 ('Small Gods:',),
 ('Small Gods:',),
 ('Small Gods:',),
 ('The Spellman Files',),
 ('The Spellman Files',),
 ('The Spellman Files',),
 ('The Spellman Files',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('The Weirdstone of Brisingamen',),
 ('The Weirdstone of Brisingamen',),
 ('The Weirdstone of Brisingamen',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',),
 ('Thud!',),
 ('Thud!',),
 ('Thud!',),
 ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [66]:
cursor.execute('''SELECT * FROM books order by author asc''').fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Small Gods:', 'Terry Pratchett', 1992),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Small Gods:', 'Terry Pratchett', 1992),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Small Gods:', 'Terry Pratchett', 1992),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Small Gods:', 'Terry Pratchett', 1992),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Small Gods:', 'Terry Pratchett', 1992)]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [ ]:
import sqlalchemy
import pandas as pd
dbEngine=sqlalchemy.create_engine('sqlite:////home/stephen/db1.db')
pd.read_sql('select * from books',dbEngine)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ("Fester Bestertester"). Print all the fields for test.

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 3)
conn.hget('test', 'count')