In [ ]:
Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

In [ ]:
select SUBSTRING(FIRST_NAME,1,3) from Worker

In [ ]:
 Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

In [ ]:
select POSITION("a" IN first_name) from Worker where first_name = "Amitabh"

In [ ]:
Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

In [ ]:
select Department.Name as Department, e1.Name as Employee, e1.Salary as Salary
from Department join Employee e1 ON Department.Id = e1.DepartmentId
where e1.Salary = (select Max(Salary) from Employee e2 where e2.DepartmentId = e1.DepartmentId)