In [ ]:
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.
Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.
Q-3. Write an SQL query to fetch nth max salaries from a table.

In [ ]:
Select RTRIM(FIRST_NAME) from Worker;

In [ ]:
Select distinct length(DEPARTMENT) from Worker;

In [ ]:
SELECT Salary FROM Worker ORDER BY Salary DESC LIMIT n-1,1