In [ ]:
Q-13. Write an SQL query to show only odd rows from aÂ table.

In [ ]:
select * from Worker where WORKER_ID% 2 = 1

In [ ]:
Q-14. Write an SQL query to clone a new table from another table.

In [ ]:
CREATE TABLE new SELECT * FROM Worker