In [ ]:
Q-15. Write an SQL query to fetch intersecting records of two tables.

In [ ]:
select * from CLONE
INTERSECT
select * from new;

In [ ]:
Q-16. Write an SQL query to show records from one table that another table does not have.

In [ ]:
select * from new where Id NOT IN (select Id from CLONE);